/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap");

/* Variables */
:root {
  --primary-color: #1421ff;
  --secondary-color: #212121;
  --background-color: #fbfbfb;
}
/* Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--background-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Utilities */
.container {
  width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

.bttn {
  display: block;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.bttn-primary {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.card {
  background: #ffffff;
  width: 500px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.input {
  width: 95%;
  padding: 5px;
  font-size: 1.17rem;
  margin: 15px auto;
  border: 0;
  border-radius: 5px;
}

.input:focus {
  border: 0;
  outline: none;
}
.input-container {
  border: 1px solid #888888;
  border-radius: 5px;
  margin: 15px 0;
  padding-left: 10px;
}

.input-container span {
  color: #888888;
}

.input::placeholder {
  font-size: 1.13rem;
  padding: 30px 0px;
}
.form-container {
  width: 90%;
  margin: 15px auto;
}
